html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.table-container {
    height: 100%;
    box-shadow: #2423238e 0px 0px 5px 0.5px;
    overflow: auto;
}

/* wagtangon ang scroll bar kay samok */
.table-container::-webkit-scrollbar {
    display: none;
}


table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    position: sticky;
    top: 0;
    background-color: #6765bd;
    height: 60px;
    z-index: 2;
}

h2, th {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

tbody td {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 5px;
}

thead th:first-child{
    min-width: 50px;
}

.headTitle {
    min-width: 200px;
}

tbody tr {
    animation: slideUp .5s ease-in-out;
    background-color: #fcfcfc;
    height: 40px;
    padding: 0;
    transition: .5s;
    position:relative;
}

tbody tr:hover {
    transition: .5s;
    background: rgb(245, 245, 245);
}

/* button action styling */

#delete-button {
  width: 29px;
  color: red;
  height: 20px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  border: black solid 1px;
  cursor: pointer;
  transition-duration: 0.3s;
  position: relative;
}

#delete-button:hover {
    background-color: red;
    color: black;
}

#delete-button:active, #edit-button:active {
    transform: rotate(160deg);
}


#edit-button {
    width: 29px;
    color: black;
    height: 20px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: black solid 1px;
    cursor: pointer;
    transition-duration: 0.3s;
}

#edit-button:hover {
    background-color: #30a0eb;
    color: black;
}

 /* animation inag add sa cell */
@keyframes slideUp {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* animatino inag delete sa cells */

.slide-out {
    animation: slideDown 0.5s ease-out forwards;
}
@keyframes slideDown {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media only screen and (max-width: 600px) {
    tbody td {
        font-size: 10.6px;
    }
}